# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set mysql_connection_string "server=localhost;uid=root;database=essentialmode"
set es_enableCustomData 1
set mysql_debug "File"

set sv_enforcegamebuild 2545

# These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure fivem
ensure hardcap
ensure rconlog
# ensure scoreboard

add_ace resource.essentialmode command.sets allow
add_ace resource.essentialmode command.add_principal allow
add_ace resource.essentialmode command.add_ace allow

# This allows players to use scripthook-based plugins such as the legacy Lambda Menu.
# Set this to 1 to allow scripthook. Do note that this does _not_ guarantee players won't be able to use external plugins.
sv_scriptHookAllowed 0

# Uncomment this and set a password to enable RCON. Make sure to change the password - it should look like rcon_password "YOURPASSWORD"
rcon_password "SEALLYSEALS"

# A comma-separated list of tags for your server.
# For example:
# - sets tags "drifting, cars, racing"
# Or:
# - sets tags "roleplay, military, tanks"
sets tags "default"

set steam_webApiKey "9613885999A89726641FC3E8F9BDF3EB"

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "https://i.imgur.com/b4KeYxW.png"
#sets banner_connecting "https://i.imgur.com/b4KeYxW.png"

sets Discord "https://discord.gg/rAWxYmp"
sets Hosting "https://e-trail.net/"
sets activitypubFeed sikora@mastodon.online

# Set your server's hostname
sv_hostname "FXServer, but with Seals"
sets sv_projectName "FXServer, but with Seals"
sets sv_projectDesc ""

# Nested configs!
#exec server_internal.cfg

# Loading a server icon (96x96 PNG file)
load_server_icon logo.png

# convars which can be used in scripts
set temp_convar "hey world!"

set onesync_forceMigration true
set onesync_workaround763185 true

# Uncomment this line if you do not want your server to be listed in the server browser.
# Do not edit it if you *do* want your server listed.
# sv_master1 ""

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
# Jure Francetic steam
add_principal identifier.steam:1100001049beec1 group.admin
# #Sikora steam
#add_principal identifier.steam:11000010441bee9 group.admin

# Hide player endpoints in external log output.
sv_endpointprivacy true

start async
start mysql-async

start essentialmode
#start esplugin_mysql
start es_extended
start cron

start screenshot-basic

start skinchanger
start esx_skin
start esx_menu_default
start esx_menu_list
start esx_menu_dialog
start baseevents
start esx_mafije
start esx_addons_xenknight
start xenknight
start PolyZone

start meta_libs

start esx-races
start esx_inventoryhud

#start esx_vehicleshop
start esx_lscustom

start pNotify
start esx_drp_garage
start LegacyFuel2

#Custom special jobs
start esx_policejob
start esx_ambulancejob
start esx_mechanicjob
start esx_taxijob
#start esx_reporter
start esx_jb_weashops
start esx_deliveryjob

#Mape
start taxi

# Add any new content addons here

start esx_firme
start t-loadingscreen
start esx_scoreboard
start es_admin2
start fivem-ipl
#start Peds
#start esx-qalle-jail
#start esx_carwash
#start esx_celldoors
#start esx_dmvschool
start chat-theme-civlifechat
start esx_rpchat
#start esx_vehiclelock
#start esx-carRental
#start esx_spectate
start es_wsync
#start esx_advanced_holdup
start prodajoruzje
start esx_anticheat
start Seal
start connectqueue
start trew_hud_ui2
start HousingShells
start loaf_housing2

# developement/ remove later
#start showcoords
# developement/ remove later

# Streamable resources
start pljackekuca
#start skriptice
start esx_biznisi
start progressBars
#start autobomba

##
start mumble-voip
start rp-radio
start esx_zone
start esx_zemljista
start tagovi
start upit
start bmwn55
start m5soundmod
start s85b50
start rs318
start audi5cylpack
start audicrdb
start ferrarif154
start gallardov10
start hondaf20c
start vozila
start manual
start skriptice
start MugShotBase64

# Server player slot limit (must be between 1 and 32, unless using OneSync)
sv_maxclients 48

# License key for your server (https://keymaster.fivem.net)
sv_licenseKey 9quib8epkaogkbdoh083rhv8ifosd0o3
#sv_licenseKey "ft05pyebd4wqn5fhfhu9jon4hn3hl0tq"
